body{
  
    background-image: url(../imagenes/profesores-fondo.jpg);
    background-size: 100%;         
    background-position: center;            
    background-repeat: no-repeat;           
    background-attachment: fixed;
    

}
div.linea-vertical{
    position: fixed;
    width: 150px;          
    height: 100vh;
    top: 0px;
    left: -10px;       
    background-color: rgba(255, 255, 255, 0.3);
    
    

}

#Tittle{
    position: relative;
    text-align: center;
    text-shadow: 5px 10px 1px rgb(0, 0, 0);
    color: rgb(247, 234, 234);
    margin-top: 130px;
    
}



#table{
    display: flex;  
    margin-top: -10px;
    justify-content: center;
    font-size: 27px;
    text-align: center;
    color: rgb(247, 234, 234);
    text-shadow:  1px 1px 1px rgb(0, 0, 0);
}

#perfil-1{
    position: absolute;
    height: auto;
    width: 100px;
    top: 100px;
    object-fit: cover;
    margin-top: -30px;
    border-radius: 100px;
  
}

#perfil-2{
    position: absolute;
    height: auto;
    width: 100px;
    object-fit: cover;
    margin-top: 0px;
   border-radius: 1000px;
    
}

#perfiles{
    position: fixed;
    top: -10px;
    font-size: 15px;
    
}

#texto1{
    position: relative;
    text-shadow: 1px 1px 1px purple;
}

#texto2{
    position: absolute;
    margin-top:  120px; 
    text-shadow: 1px 1px 1px purple;
    
}

#volver{
    position: absolute;
    margin-top: 155px;
    font-size: 25px;
    left: 1235px;
    text-shadow: 3px 3px 3px black;
    text-decoration: none;
    color: white;

}
#volver:hover {
    font-size: 30px;
}