header{
    text-align: center;
    padding: 2rem 1rem;    
    background-color: rgba(116, 223, 217, 0.5);
    border-radius: 20px;
    margin: 1rem 0 0.5rem;
}
header h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 03rem;   
    margin: 1rem 0 0.5rem;
    color:rgb(11, 116, 102);
}
.titulo:hover{    
    color:rgb(8, 80, 56);     
}
header p{
    font-size: 02rem;
    margin: 5;
    text-align: center;
    color:rgb(6, 80, 77);
}
.resumen:hover{    
    color:rgb(53, 141, 138);    
}
nav.servicios{
    text-align: center;
    font-size: 02rem;
    box-shadow: 0 0 80px rgba(121, 219, 206, 0.4);
    border-radius: 15px;
    padding: 2px 0px;
    margin: 1rem 0 0.5rem;    
}
/* LISTA DE SERVICIOS */
.servicios {
    background-color: rgba(228, 247, 246, 0.5);
    padding: 2rem;
    border-radius: 15px;
    margin: 2rem 0;
}
li{
    display: inline;
    padding: 20px;
    margin: 2rem;    
}
a{
   text-decoration: none;   
   color:rgb(42, 165, 159);
   font-family:'Times New Roman', Times, serif;
}
a:hover{    
    color:rgb(204, 137, 36);    
}

/* CONTENEDOR DE TARJETAS */
.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin: 2rem 0;
}

/* ESTILO DE CADA TARJETA */
.card {
    background-color: rgba(210, 238, 237, 0.7);
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 18px rgba(0,0,0,0.2);
}

.card h2 {
    text-align: center;
    color: rgb(42, 165, 159);
}
.footparra{
    text-align: center;
}

